.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
    text-align: center;
}

#errorImage {
    max-width: 200px;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    font-size: 36px;
}

p {
    color: #666;
    font-size: 18px;
}

NavLink {
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}