.baby{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;

}

.imgListItem{
    height: 15% !important;
    width: 250px !important;
}
    

.container {
    display: flex;
}

.teacher {
    flex: 1;
}

.baby {
    flex: 2;
    text-align: center;
}
.css-wb57ya-MuiFormControl-root-MuiTextField-root {
    margin: 0 30px 0 30px;
    width: 80%;
}

.css-l086p4-MuiImageListItem-root {
    display: block;
    position: relative;
    width: 250px;
    margin-bottom: 10px;
}
.css-l086p4-MuiImageListItem-root .MuiImageListItem-img {
    object-fit: cover;
    display: block;
    width: 250px !important;
    border-radius: 5px 5px 5px 0;
}