img{
    height: 80px;
    width: 100%;
}

button{
    height: 100%;
    padding: 0;
    justify-content: center;
}

button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: inline-block;
}
.logOut{
    width: 300px;
}
button{
    border-radius: 100%;
    border-width: 4px;
    border-color: rgb(37, 191, 88);
    overflow: hidden;
    background-color: rgb(255, 255, 255); /* Light green background color */
    margin: 10px;
    transition: transform 0.3s; /* Smooth transition effect */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow effect */
}

button:hover {
    transform: scale(1.1); /* Make the image slightly bigger on hover */
}

button img {
    width: 100px;
    height: auto;
}
.childrenList{
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}


.children-container {
    width: 10%; /* Set the width to 10% of the page width */
    display: flex;
    flex-direction: column;
}

.baby-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust spacing between each baby row */
}

.image-circle {
    margin-right: 10px; /* Adjust spacing between image and name */
}

.baby-name {
    font-size: 16px;
}